.separator {
  display: flex;
  flex-direction: row;
  color: gray;
  text-shadow: 0px 0px 1px gray;
}
.separator:before,
.separator:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #80808080;
  margin: auto;
}
.separator:before {
  margin-right: 10px;
}
.separator:after {
  margin-left: 10px;
}
